* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    width: 100%;
    overflow-x: hidden;
}

body * {
    transition: all .5s;
}

ul, ol{
    list-style: none;
}

a,
a:visited {
    color: #FFF;
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: #0872FF;
    color: #fff;
    height: 5rem;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.content {
    width: 100%;
    height: fit-content;
    min-height: 74.35vh;
}

.footer {
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-color: #0872FF;
    position: fixed;
}

.hidden{
    display: none !important;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.div-title {
    width: 50%;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.title-icon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.div-menus {
    width: 50%;
}

.div-menus ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

.div-menus ul li{
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: .3rem;
}

.div-menus ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

.div-menus ul li a:hover{
    border-bottom: 1px solid #fff;
}

.content .login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.content{
    overflow-x: hidden;
}

.content .login h2{
    font-size: 2.5rem;
    margin: 1rem;
}

.content .login .form-auth{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.content .form-auth .form-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.content .login label{
    font-size: 1.5rem;
    font-weight: bold;
}

.content .login .input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}

.content .login .input:focus{
    outline: none;
    padding-left: .5rem;
    padding-right: .5rem;
}

.content .login .form-auth .form-buttom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttom{
    background-color: #0872FF;
    width: 30%;
    height: 2rem;
    border: 1px solid #FFF;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
}

.buttom:hover,
.buttom:focus{
    background-color: #0e56b4;
    box-shadow: #cacaca 2px 2px;
    outline: none;
    border: none;
}

.buttom:active{
    background-color: #072e61;
    box-shadow: #000 2px 2px; 
    outline: none;
    border: none;
}

.response{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

.center-calc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-calc .calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border: 1px solid #000;
    align-items: center;
}

.center-calc .calc .visor{
    width: 90%;
    margin-top: 1rem;
    height: 5rem;
    border: 1px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-calc .calc .visor .linha-sup{
    width: 100%;
    text-align: left;
    height: 25%;
}

.center-calc .calc .visor .linha-inf{
    width: 100%;
    text-align: left;
    height: 75%;
}

.center-calc .calc .teclas{
    margin-top: 1rem;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
}

.center-calc .calc .teclas .numericas{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.center-calc .calc .teclas .operacoes{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.center-calc .calc .teclas .numericas .num{
    width: 30%;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: 0;
}

.center-calc .calc .teclas .numericas .num-0{
    width: 64.7%;
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: 0;
}

.center-calc .calc .teclas .operacoes .op{
    width: 90%;
    height: 19.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: 0;
}


@media(max-width:720px) {
    .div-title {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .menu-icon {
        display: initial;
        width: fit-content;
    }

    .div-menus{
        position: absolute;
        top: 5rem;
        background-color: #2862af;
        left: -100%;
    }

    .div-menus.show{
        margin: 0;
        left: 0;
    }

    .div-menus ul{
        flex-direction: column;
        align-items: flex-start;
    }

    .content .login .form-auth{
        width: 80%;
    }

    .buttom{
        width: 80%;
    }

    .center-calc .calc{
        width: 80%;
    }

    .center-calc .calc .visor{
        font-size: 1.5rem;
    }
}